@media (max-width: 600px){
    .caixasTexto{
        width: auto;
        height: auto;

    }
    h1{
        font-size: 20px;
    }
    form{
        width: 100vw;
    }
    textarea{
       width: 325px;
        margin: 5px;
    }
    .selecaoCodigos{
        padding: 5px;
        color: #fff;
        width: auto;
        height: auto;
  
    }
    .formatacaoCampos{
        width: 100px;
        height: 20px;
      }
      .btnRadios{
        width: auto;
        padding: 10px;
    }
    input[type='radio']{
        margin-left: 10px;

    }
    #botao{
        width: 150px;
        height: 40px;
        font-size: 20px;
        
    }

}